*{ /* html 요소에 기본적으로 설정된 padding, margin 없애기. 
    사용자가 크기 지정, 배치하기가 편해짐 */
    padding:0;
    margin:0;
    box-sizing: border-box;
}

div{
    border : 1px solid black;
}

/* 감싸는 요소 */
.container-1{
    width:304px;
    height:304px;
    border:2px dashed red;
    margin:30px;

    position:relative; /* 기준 */

}

.first{
    width:300px;
    height:300px;
    background-color: aqua;
    position:absolute;
}

.second{
    width:200px;
    height:200px;
    background-color: green;
    position:absolute;
    /* 기준요소 기준 왼쪽 벽에서 50px만큼 이동 */
    left : 50px;
    top : 50px;

}

.third{
    width:100px;
    height:100px;
    background-color:salmon;
    position:absolute;
    /* 기준요소 기준 오른쪽 벽에서 100px만큼 이동 */
    right:100px;
    /* 기준 요소 기준 아래에서 100px만큼 이동 */
    bottom:100px;
}

/* 요소 정가운데 배치 */
.container-2{
    width:450px;
    height:400px; /* 기준 */
    position : relative;
    background: peachpuff;
}

.center{
    width:50px;
    height:50px;
    background-color: green;


    /* 테두리를 둥글게 */
    border-radius: 50%;

    margin:auto;

    /* 다른 요소와의 간격을 자동으로 설정 
    -> 정가운데 정렬*/
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/* fixed */

.fixed-area{
    width:40px;
    height:40px;
    border-radius:50%;

    bottom:30px;
    right:30px;
}

.fixed-area > a{
    width : 100%;
    height : 100%;
    display: block;
    border-radius: 50%;


/* 글자 정렬 속성 */
text-align:center;

/* 장평 설정 속성 */
line-height:35px;

/* 밑줄 없애기 */
text-decoration:none;

/* 글꼴 진하게 */
font-weight:bold;

/* 사용자 선택(블럭) 방지 */
user-select: none;
}

/* sticky */
.title{
    background-color: steelblue;
    color:orange;
    padding:30px 20px;
    /* 요소가 화면을 벗어나면 지정된 위치에 고정 */
    position:sticky;
    top :0px;

    /* z축 방향으로 올라와있는 순서 지정 */
    z-index:1;

}